*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(49, 49, 49);
 
}
.main{
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.box{
  background-color:white;
  padding: 20px;
  height: 60vh;
  border-radius: 20px 10px;
  box-shadow: rgba(102, 101, 101, 0.35) 0px 5px 15px;

}

.add-btn{
  border: none;
  padding: 10px 30px;
  border-radius: 8px;
  margin-left: 10px;
  font-weight: bold;
  color: white;
  background-color: black;
}

.delete-btn{
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  float: right;
  font-weight: bold;
  color: white;
  background-color: rgb(85, 12, 12);
}

input{
  height: 4vh;
  width: 50%;
  margin-top: 10px;
  border-radius: 8px;
  padding: 5px 10px;
  border: 2px solid black;
  
}


.task{
  margin-top: 10px;
  height: 6vh;
 padding: 8px;
 border: 2px solid black;
 border-radius: 10px;
}